<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>806908407307-gtj8o2kdk29vigd7v8lkahv7ipku24i3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.806908407307-gtj8o2kdk29vigd7v8lkahv7ipku24i3</string>
	<key>API_KEY</key>
	<string>AIzaSyCuFaetIBK1gVG5nRSvIQK8kg_8mfDM96w</string>
	<key>GCM_SENDER_ID</key>
	<string>806908407307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.betamsngu</string>
	<key>PROJECT_ID</key>
	<string>msngu-1afad</string>
	<key>STORAGE_BUCKET</key>
	<string>msngu-1afad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806908407307:ios:83803516423a45fed4610e</string>
</dict>
</plist>